:root {
  --header-purple-light: #7c40ff;
  --header-purple-dark: #651fff;
}


body {
  background-size: auto;
}

/* HEADER STYLE */

.header-contianer-main {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background: black;
}

/* NAV STYLE */

.social-icon {
  margin-left: 1em;
}

.social-icon:hover {
  color: black;
  cursor: pointer;
  transition: .1s;
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-links h1:hover {
  color: #5da5cd;
  cursor: pointer;
  transition: .2s;
  border-bottom: 3px solid #5da5cd;
}

.nav-list-item  {
  font-size: 1.1em;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  margin: .2em 0 0 2em;
}

/* APP MAIN STYLE */

.app-contain-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* HOME STYLE */

.home-main-contain {
  margin: 3em auto;
  padding: 25px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome {
  border-right: 1px solid lightgrey;
  background: white;
  padding: 20px;
  max-width: 20em;
  line-height: 12em;
  margin-right: 2em;
}

.welcome h4, h5 {
  margin-top: 3em;
}

/* HOME PICTURES STYLE */

.home-pictures {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1em;
}

.home-picture-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 45em;
}

.project-picture {
  height: 10em;
  width: 15em;
  margin: 2em auto;
  padding: 0;
  border-radius: 5px;
  transition: .3s;
}

.project-picture:hover {
  box-shadow: -1px 1px 4px lightblue;
  transform: scale(1.01);
  cursor: pointer;
}



/* PROJECT STYLE */

.project-contain-all {
  background: rgba(0, 0, 0, .4);
  margin: 3em;
  border: 3px solid white;
  max-height: 20em;
  max-width: 15em;
}

.title-contain {
  padding: 1em;
  border-bottom: 1px solid black;
  color: white;
}

.project-data-main {
  border-bottom: .5px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
}

.project-image {
  max-height: 10em;
  width: 10em;
}

.information-contain {
  display: none;
}

.project-description  {
  width: 100%;
  padding: 10px 10px 10px 0;
}

.project-description p {
  font-size: 1.2em;
}

.project-link {

}


/* ABOUT STYLE */

.about-me {
  padding: 10px;
  color: black;
}

#about-me-title {
  text-decoration: underline;
}



/* MOBILE STLYE */
