/* App Style */
body {
  background: url("../public/Images/background.png") no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
}

/* Navigation Style */
.resume-download {
  text-decoration: none;
}

/* Home Style */
.home-div {
  margin: 12em auto;
  width: 50%;
  color: white;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}

/* Project Page Style */
.all-projects-container {
  /* border: 5px solid orange; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Project Card Style */
.project-card-container {
  margin: 1em;
  width: 90%;
}

.external-button {
  color: white;
}

/* Footer Style */
.footer-container {
  background-color: #212529;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: max-content;
  position: absolute;
  width: 100%;
}

.footer-link {
  color: rgba(255, 255, 255, 0.7);
  margin: 1em;
}

.social-icon {
  margin-right: 0.8em;
}

.social-href {
  text-decoration: none;
  color: inherit;
}

/* Mobile Style */

@media (max-width: 1000px) {
  .project-card-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .home-div {
    width: 80%;
  }
}
